html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#portrait{
  max-height:35em;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

#skills li{
  flex-direction: column;
  margin: 5px;
  padding:10px;
}

#skills li i{
  font-size:6em;
}
#skills li img{
  height:96px;
  width: 96px;
}
.grayscale { 
  filter: grayscale(100%); 
}

#skills ul{
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#projects .image-switch{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#projects .box{
  border-radius: 0;
}

#projects .columns{
  margin-bottom:30px;
}



#footer .icon{
  margin:10px;
}

#footer .icon i{
  font-size:2em;
}

.hidden-note{
  display: none;
}