html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
canvas{
  position: absolute;
  height: 100%;
  width: 100%;
}

#container{
  z-index: 1;
}

#skills li{
  flex-direction: column;
  margin: 5px;
  padding:10px;
  cursor: pointer;
}
#skills li:hover span{
  text-decoration: underline;
}
#skills li i{
  font-size:6em;
}
#skills li img{
  height:96px;
  width: 96px;
}
.grayscale { filter: grayscale(100%); }

#skills ul{
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

#projects .image-switch{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}