/* =============================================================================
Buttons
============================================================================= */

/* =================================================
Shared button styles
=================================================== */

button, 
.button,
%button {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    height: 48px;
    padding: 0 32px 2px;
    border-radius: 1px;
    font-family: $serif;
    font-size: 18px;
    font-weight: 700;
}

/* =================================================
Primary Button
=================================================== */

.primary-button{
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
    @extend %button;
    transition: background 0.3s ease-out, color 0.3s ease-out;
    position: relative;

    &:hover {
        background: $black;
        color: $white;
    }
} 



/* =================================================
Secondary Button
=================================================== */

.secondary-button{
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    @extend %button;
    transition: background 0.3s ease-out, color 0.3s ease-out;
    position: relative;

    &:hover {
        background: $white;
        color: $black;
    }
} 
