/* =============================================================================
Colors
============================================ */
$black: #1C1D21;
$dark-grey: #31353D;
$blue: #445878;
$light-green: #92CDCF;
$white: #EEEFF7;