/* =============================================================================
Footer
============================================ */


.footer{
    color: $white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__links{
        display: flex;
        flex-direction: column;
        a{
            margin-bottom: 16px;
        }
    }
    &__copyright{
        div{
            margin-bottom: 8px;
        }
        text-align: center;
    }
}