.header{
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 22px 0 rgba(0,0,0,0.1);
    z-index: 2;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;

    @include for-tablet-portrait-up{
        height: 72px;
    }
    
    &__left{

    }

    &__right{
        display: flex;
    }
}

.header__link{
    padding: 0 16px;
}

.logo{
    &__link{
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        width: auto;
    }

}
