.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        text-align: center;
    }

    &__image{

    }

    &__title{

    }

    &__subtitle{

    }

    &__bio{

    }
}

#hero__background{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    opacity: 1;
}

// Flickity carousel additional styling
.carousel{
    margin-bottom: 24px;
}
.carousel-cell {
    width: 100%; /* full width */
    background: #222;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }
  
  .carousel-cell img {
    display: block;
    max-height: 100%;
    width: 100%;
  }