
/* =============================================================================
Typography
============================================ */
$sans: 'Lato', sans-serif;
$serif: 'Lora', serif;

body{
    font-family: $serif;
    font-size: 16px;
    color: $black;
}

.h1, h1{
    font-size: 32px;
    @include for-tablet-portrait-up{
        font-size: 48px;
    }
}

.h2, h2{
    font-size: 26px;
    margin-bottom: 16px;
    position: relative;

    &:after{
        // content: "";
        position: absolute;
        top:auto;
        right: 0;
        left: 0;
        bottom: 0;
        height: 4px;
        background: $blue;
        transform: scaleX(50%);
    }

    @include for-tablet-portrait-up{
        font-size: 32px;
    }
}

.h3, h3{
    margin-bottom: 8px;
}

.h5, h5{
    font-family: $sans;
    text-transform: uppercase;
}
 p{
     font-family: $sans;
 }

a{
    text-decoration: none;
    color: $black;
}
